{% extends "base.html" %}
{% block title %}
盘点
{% endblock %}

{% block body %}
<div class="container-md">
    <p class="h3">盘点</p>
    {% if history %}
    <div class="container-md">
      <input type="text" name="daterange" value="" />
      <button type="button" class="btn btn-primary" onclick="Search()">查询</button>
      &nbsp|&nbsp
      <button type="button" class="btn btn-primary" onclick="Export()">导出表格</button>
    </div>
    
    {% endif %}
    <!-- 利用表格显示历史数据 -->
    <table class="table table-bordered">
      <thead>
    <tr>
      <th scope="col">操作时间</th>
      <th scope="col">操作商品</th>
      <th scope="col">操作类型</th>
      <th scope="col">数量</th>
      <th scope="col">附加信息</th>
      <!-- {% if current_user.type == "admin" %}
      <th scope="col">操作</th>
      {% endif %} -->
    </tr>
  </thead>
  <tbody id="history" style="padding: 1rem;">
    {% if not history %}
    <tr>
      <th scope="row" colspan="5" style="text-align: center;">暂无数据</th>
    </tr>
    {% else %}
    {% for his in history %}
    <tr>
      <!-- 时间显示处理一下 -->
      <th scope="row" id="historyTime" style="width: fit-content;" class="time-cell" data-time="{{ his.time }}">
        {{ his.time }}
      </th>
      <td>{{ his.product_name }}</td>
      <td>
        {% if his.type == "in"  %}
        入库
        {% elif his.type == "out" %}
        出库
        {% endif %}
      </td>
      <td>{{ his.amount }}</td>
      <td>{{ his.info }}</td>
      <!-- {% if current_user.type == "admin" %}
      <td style="width: 10rem;">
        <button type="button" class="btn btn-primary" id="deleteHIst" onclick="deleteProduct()">删除</button>
      </td>
      {% endif %} -->
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
     </table>
    
</div>
<script type="text/javascript" src="/static/libs/FileSaver/FileSaver.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
  $(function() {
    $('input[name="daterange"]').daterangepicker({
      opens: 'left'
    }, function(start, end, label) {
      console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });
    
    // 初始化时格式化所有时间显示
    formatAllTimes();
  });

  function formatAllTimes() {
    $('.time-cell').each(function() {
      var timeStr = $(this).data('time');
      if (timeStr) {
        var formattedTime = getTime(timeStr).split(' ')[0];
        $(this).text(formattedTime);
      }
    });
  }

  function Search() {
    var start = $('input[name="daterange"]').data('daterangepicker').startDate.format('YYYY-MM-DD');
    var end = $('input[name="daterange"]').data('daterangepicker').endDate.format('YYYY-MM-DD');
    var url = '/stock/history/search?start=' + start + '&end=' + end;
    
    fetch(url,{
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
    })
    .then(response => response.json())
    .then(data => {
      data = data.data;
      console.log(data);
      
      // 删除表中数据
      $('#history').empty();
      // 向表中添加新数据
      for (var i = 0; i < data.length; i++) {
        // 排除除in和out的数据
        if (data[i].type != 'in' && data[i].type != 'out') {
          continue;
        }
        // 转换时间显示方式Sat, 02 Aug 2025 10:53:27 GMT为2025-08-02 10:53:27
        var time = data[i].time;
        // 使用getTime函数格式化时间并只保留日期部分
        time = getTime(time).split(' ')[0];
        // 转换in/out显示
        if (data[i].type == 'in') {
          data[i].type = '入库';
        } else if (data[i].type == 'out') {
          data[i].type = '出库';
        }
        var tr = $('<tr></tr>');
        var th = $('<th scope="row"></th>');
        var td1 = $('<td></td>');
        var td2 = $('<td></td>');
        var td3 = $('<td></td>');
        var td4 = $('<td></td>');
        // var td5 = $('<td></td>');
        th.text(time);
        td1.text(data[i].product_name);
        td2.text(data[i].type);
        td3.text(data[i].amount);
        td4.text(data[i].info);
        tr.append(th).append(td1).append(td2).append(td3).append(td4);
        $('#history').append(tr);

      }
    })
    

  }

  function Export() {
    $('#history').tableExport({type:'excel'});
  }

  function getTime(time) {
    return moment(time).format('YYYY-MM-DD HH:mm:ss');
  }
</script>
{% endblock %}